<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style="margin-bottom:100px;">
<center>
<h3 class="mt-4">Login</h3></center>

<center><form method ="POST"  >
{% csrf_token %}
<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">User Name</label>
    <input type="text" class="form-control" name="u" id="exampleInputEmail1" aria-describedby="emailHelp">

  </div>
<div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="p" id="exampleInputPassword1">
</div>
   <center><button type="submit" class="btn btn-primary">Submit</button></center>
</form>
</div>
{% endblock %}</center>